<div class="container">
  <div class="row">
    <a class="btn btn=primary" routerLink="/threads">Back to List</a>
  </div>
  <div>
    <div class="form-group">
      <label>Thread ID</label>
      <div class="form-control">{{thread.content.id}}</div>
    </div>
    <div class="form-group">
      <label>Script</label>
      <div class="form-control">{{thread.content.script}}</div>
    </div>
    <div class="form-group">
      <label>Status</label>
      <div class="form-control">{{thread.content.status}}</div>
    </div>
    <div class="form-group">
      <label>Return Value</label>
      <div class="form-control">{{thread.content.result}}</div>
    </div>
  </div>
  <div class="row">
    <a class="btn btn=primary" [routerLink]="['/thread/stop', thread.content.id]">Stop script</a>
  </div>
</div>
